body {
  margin: 0;
  /* background-image: url("../src/backgroundImages/login_background.jpg"); */
  background-color: #101010;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

html{
  height: 100%;
}

.root {
  height: 100%;
}

#root{
  height: 100%;
}